#advantages, #functions{
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-around;
}

.advantage {
    border: 3px inset blue;
    box-shadow: 0 0 20px #60615e;
    width: 25%;
    text-align: center;
    border-radius: 20%;
    font-size: 1.2em;
}

.advantage img {
    width: 28%;
    height: 28%;
}

.advantage p {
    padding: 3%;
    font-family: arial, serif;
}

.advantage hr {
    width: 20%;
    margin: auto;
}

.advantage h2{
    font-family: 'Lobster', cursive;
}

#advantages .advantage{
    background: url("../res/img/advantage2.jpg");
}

#functions .advantage{
    background: url("../res/img/functions5.jpg");
}