body {
    background: url("../res/img/bgBody.jpg")fixed top left no-repeat;
    -o-background-size: 100% 100%;
    -webkit-background-size:100% 100%;
    -moz-background-size:100% 100%;
    -khtml-background-size:100% 100%;
    background-size: 100%;
}

h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 2.8em;
}

h1 span {
    color: green;
    font-style: italic;
    text-shadow: 1px 1px 1px black;
}

header {
    background: url(../res/img/header_bg.jpg);
    background-size: 100%;
    /*0 bottom repeat-x #f8f8f8;*/
    box-shadow: 0 0 20px #60615e;
    margin: 2% 3% 3% 3%;
    position: static;
    padding: 1%;
    border-radius: 25px;
}

header img {
    width: 3%;
    height: 3%;
}

#tagline {
    font-family: 'Lobster', cursive;
    font-size: 2em;
    text-align: center;
    font-style: normal;
    color: black;
    font-weight: bold;
}

#menu {
    padding: 1%;
    background: url(../res/img/menu.png) 0 bottom repeat-x #f8f8f8;
    position: static;
    margin: -1.2% 3% 3% 2%;
    box-shadow: 0 0 20px #60615e;
    border-radius: 25px;

}

#menu div {
    font-family: 'Lobster', cursive;
    padding: 2%;
    display: inline;
    margin: 1% 1% 1% 7.5%;
}

#menu div a, #menu div a:visited {
    text-decoration: none;
    color: #20321f;
    font-size: 1.5em;
    text-align: center;
}
